.hangman {
    display: flex;
    gap: 2em;
    align-items: center;
    background-color: antiquewhite;
    padding: 2em;
    border-radius: 1em;
}

.hangman__svg {
    height: 30vh;
}

.hangman__infos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.hangman__err-count {
    background-color: #D6654D;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
}

.hangman__number {
    margin: 0;
}

.hangman__err-txt {
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
}