.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.intro-hangman {
    display: flex;
    align-items: center;
    gap: 5em;
}